$g_1:#1c1c1e;
$g_2: #2c2c2e;
$g_3:#3a3a3c;
$g_4: #48484a;
$g_5:#636365;
$g_6: #8f8e92;
$g_7:#aeadb1;
$g_8: #c8c7cb;
$g_9:#d2d1d6;
$g_1-0: #f3f2f7;
$y_1:#ffe68a;
$y_2:#ffeea9;
$b_1:#35271c;
$b_2:#4c3729;
$b_3:#684f3e;
$b_4:#e8ded4;
$b_5:#f2ebe7;
$b_6: #d7c3af;

.day_list{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 10px;

    

    .day_name{
        text-align: center;
        padding: 6px 0px;
        color: $b_4;
        font-size: 15px;
        font-weight: 600;
    }
    .day_name.active{
        font-weight: 700;
        color: $b_6;
        
    }
    
    .day_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    
}

// =========================================================================================================

@media screen and (max-width: 768px) {
    .day_list{
        scroll-snap-align: center;
        // scroll-snap-type: x mandatory;
        .day_wrapper{
            width: 100vw;
            
        }
    }
    
}