@import '../settings.scss';
                                                                                                                         


.modalWindow_main_head{
    display: flex;
    justify-content: space-between;
    width: 100%;


    .modalWindow_main_head_form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // background-color: pink;

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 80%;
            height: 20px;
            background-color: $b_5;
            border: none;
            border-radius: 3px;
            text-align: center;
            font-weight: 600;
        }
        .modalWindow_main_head_form-input:focus{
            outline: none;
        }
        
        .modalWindow_main_head_form-submit{
            border: none;
            background: none;
            font-size: 16px;
            padding: 0px;
        }
    }
}

.modalWindow_main_wrapper-wrong{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

.modalWindow_main_scroll{
    display: flex;
    margin-top: 30px;
    overflow-y: scroll;
    height: 100%;
    // width: 100%;
    max-height: 90%;

    .modalWindow_main_scroll_variants{
        // width: 90%;
        @include grid_bricks_9; 
    }
}




@media screen and (max-width: $adaptive_m_3) and (min-width: $adaptive_m_2) {
    .modalWindow_main_head .modalWindow_main_head_form{

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 60%;
        }

    }

    .modalWindow_main_scroll .modalWindow_main_scroll_variants{
        @include grid_bricks_7; 
    }
}
@media screen and (max-width: $adaptive_m_2) and (min-width: $adaptive_m) {

    .modalWindow_main_head .modalWindow_main_head_form{

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 60%;
        }

    }

    .modalWindow_main_scroll .modalWindow_main_scroll_variants{
        @include grid_bricks_5; 
    }
}
@media screen and (max-width: $adaptive_m) and (min-width: $adaptive_s) {

    .modalWindow_main_head .modalWindow_main_head_form{

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 60%;
        }

    }

    .modalWindow_main_scroll .modalWindow_main_scroll_variants{
        @include grid_bricks_4; 
    }
}
@media screen and (max-width: $adaptive_s) {

    .modalWindow_main_head .modalWindow_main_head_form{

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 60%;
        }

    }

    .modalWindow_main_scroll .modalWindow_main_scroll_variants{
        @include grid_bricks_4; 
    }
      
}
@media screen and (max-width: $adaptive_s_-1) {

    .modalWindow_main_head .modalWindow_main_head_form{

        .modalWindow_main_head-back_btn{
            font-size: 16px;
        }

        .modalWindow_main_head_form-input{
            width: 60%;
        }

    }

    .modalWindow_main_scroll .modalWindow_main_scroll_variants{
        @include grid_bricks_3; 
    }
}
