@import '../settings.scss';

.header_section{
    // background-color: pink;
    display: flex;
    justify-content: center;
    padding: 25px 0px;

    .h_button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        .ionicon{
            margin-left: 2px;
            width: 12px;
            height: 12px;
            font-weight: 900;
            transition: all 0.2s ease;
        }

    
    }
    .h_button:hover{
        .ionicon{
            margin-top: 3px;
        }
    }
}



@media screen and (max-width: $adaptive_s) {
    .header_section{
        padding-bottom: 5px;
    }
}