@import '../settings.scss';


.search_section{
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    width: 100%;
    height: 100vh;
    max-height: 100%;
    z-index: 99;
    position: fixed;
    margin-top: -30px;
    transition: all 0.4s ease;

    .ss_wrapper{
        padding: 40px 5%;
        background-color: white;
        height: 84vh;
        width: 70%;
        // max-height: 100%;
        margin: 20px 0px;
        margin-bottom: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 80px rgba(0,0,0,0.15);
        position: absolute;
        // transition: all 0.4s ease;

        .ss_header{
            display: flex;
            justify-content: space-between;

            .back_btn{
                cursor: pointer;
            }
            .search_btn{
                cursor: pointer;
            }
        }
        .ss_scroll_wrapper{
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            margin-top: 30px;
            overflow-y: scroll;
            height: 100%;
            max-height: 90%;

            .choosen_bricks_wrapper{
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
    
                .choosen_bricks{
                    @include grid_bricks_9; 
                }
    
                .selected_empty_text{
                    font-size: 24px;
                    font-weight: 600;
                    color: $b_4;
                }
            }
    
            .separator{
                
                margin: 30px 20%;
                border-bottom: 3px solid $b_5;
            }
    
            .variants_wrapper{
                display: flex;
                justify-content: center;
                // height: 40vh;
    
                .variants{
                    height: 100%;
                    @include grid_bricks_9;
                    // scroll-snap-type: y mandatory;
                }
            }
        }
        
        
    }

}
.search_section.active{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;

}



// =========================================================================================================
@media screen and (max-width: $adaptive_m_3) and (min-width: $adaptive_m_2) {

    .search_section .ss_wrapper .ss_scroll_wrapper{

        .choosen_bricks_wrapper{

            .choosen_bricks{
                @include grid_bricks_7; 
            }

            .selected_empty_text{
                font-size: 24px;
                font-weight: 600;
                color: $b_4;
            }
        }

        .variants_wrapper{
            height: 90%;

            .variants{
                @include grid_bricks_7;

            }
        }
    }
}
@media screen and (max-width: $adaptive_m_2) and (min-width: $adaptive_m) {

    .search_section .ss_wrapper .ss_scroll_wrapper{

        .choosen_bricks_wrapper{

            .choosen_bricks{
                @include grid_bricks_5; 
            }

            .selected_empty_text{
                font-size: 24px;
                font-weight: 600;
                color: $b_4;
            }
        }

        .variants_wrapper{
            height: 90%;

            .variants{
                @include grid_bricks_5;

            }
        }
    }
}
@media screen and (max-width: $adaptive_m) and (min-width: $adaptive_s) {

    .search_section .ss_wrapper .ss_scroll_wrapper{

        .choosen_bricks_wrapper{

            .choosen_bricks{
                @include grid_bricks_4; 
            }

            .selected_empty_text{
                font-size: 24px;
                font-weight: 600;
                color: $b_4;
            }
        }

        .variants_wrapper{
            height: 90%;

            .variants{
                @include grid_bricks_4;

            }
        }
    }
}
@media screen and (max-width: $adaptive_s) {

    .search_section .ss_wrapper .ss_scroll_wrapper{

        .choosen_bricks_wrapper{

            .choosen_bricks{
                @include grid_bricks_4; 
            }

            .selected_empty_text{
                font-size: 24px;
                font-weight: 600;
                color: $b_4;
            }
        }

        .variants_wrapper{
            height: 90%;

            .variants{
                @include grid_bricks_4;

            }
        }
    }
}
@media screen and (max-width: $adaptive_s_-1) {

    .search_section .ss_wrapper .ss_scroll_wrapper{

        .choosen_bricks_wrapper{

            .choosen_bricks{
                @include grid_bricks_3; 
            }

            .selected_empty_text{
                font-size: 24px;
                font-weight: 600;
                color: $b_4;
            }
        }

        .variants_wrapper{
            height: 90%;

            .variants{
                @include grid_bricks_3;

            }
        }
    }
}