@import '../../settings.scss';

.brick_section{
    transition: all 0.4s ease;

    .bs_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $b_5;
        border-radius: 3px;
        width: 115px;
        height: 35px;
        cursor: pointer;
    transition: all 0.4s ease;
        .title{
            font-weight: 500;
            font-size: 15px;
        }
    }
}

.brick_section{
    animation:stagger ease-in 0.3s forwards 1;
}
@keyframes stagger{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



@media screen and (max-width: $adaptive_s) {
    .brick_section{
        transition: all 0.4s ease;
        .bs_wrapper{

            width: 110px;
            height: 30px;

            .title{
                font-weight: 500;
                font-size: 13px;
            }
        }
    }
}